.frame-child {
  width: 1291px;
  position: relative;
  background-color: var(--color-darkslategray);
  height: 2538px;
}
.text-inner {
  position: absolute;
  top: -10px;
  left: calc(50% + 5px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-item {
  width: 1270px;
  position: relative;
  background-color: var(--color-cadetblue);
  height: 2538px;
}
.frame-div {
  position: absolute;
  top: -10px;
  left: calc(50% - 1275px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.rectangle-div {
  width: 596px;
  position: relative;
  border-radius: var(--br-30xl);
  background-color: var(--color-gainsboro);
  height: 328px;
}
.text-inner2 {
  position: absolute;
  width: calc(100% - 774px);
  top: 359px;
  right: 724px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.type-the-words {
  position: relative;
  text-transform: capitalize;
}
.type-the-words-or-sentance-to-wrapper {
  position: absolute;
  width: calc(100% - 955px);
  top: 724px;
  right: 814px;
  left: 141px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
}
.qwerty {
  position: absolute;
  top: -31px;
  left: calc(50% - 453px);
  font-size: var(--font-size-181xl);
  letter-spacing: 0.16em;
  font-family: var(--font-lalezar);
  text-align: center;
  display: inline-block;
  width: 907px;
  height: 273px;
  opacity: 0.7;
  mix-blend-mode: overlay;
}
.convert-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.convert1 {
  position: absolute;
  height: 37.5%;
  width: 52.7%;
  top: 31.25%;
  left: 23.87%;
  display: inline-block;
}
.convert {
  width: 224px;
  position: relative;
  border: 1px solid var(--color-cadetblue);
  box-sizing: border-box;
  height: 82px;
}
.convert-wrapper {
  position: absolute;
  width: calc(100% - 1148px);
  top: 781px;
  right: 911px;
  left: 237px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.sbox4,
.switch-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-70xl);
  background-color: var(--color-whitesmoke);
}
.sbox4 {
  height: 62.5%;
  width: 37.09%;
  top: 18.75%;
  right: 55.96%;
  bottom: 18.75%;
  left: 6.95%;
  border-radius: var(--br-108xl);
  background-color: var(--color-darkslategray);
  box-shadow: 0 12px 3px rgba(0, 0, 0, 0.01), 0 8px 3px rgba(0, 0, 0, 0.07),
    0 4px 3px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.43),
    0 0 1px rgba(0, 0, 0, 0.49);
}
.talk5,
.talk6 {
  position: absolute;
  top: 31.25%;
  display: inline-block;
}
.talk5 {
  width: 20.53%;
  left: 15.23%;
  cursor: pointer;
}
.talk6 {
  width: 26.49%;
  left: 60.6%;
  font-family: var(--font-krona-one);
}
.switch3 {
  align-self: stretch;
  position: relative;
  height: 80px;
}
.frame {
  position: absolute;
  top: 202px;
  left: calc(50% - 151px);
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-whitesmoke);
}
.text5 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-silver);
  font-family: var(--font-lexend);
}
