.text-inner,
.text-item {
  position: absolute;
  height: calc(100% + 1514px);
  top: 0;
  bottom: -1514px;
  width: 720px;
}
.text-item {
  right: 0;
  background-color: var(--color-darkslategray);
}
.text-inner {
  left: 0;
  background-color: var(--color-cadetblue);
}
.rectangle-div {
  position: absolute;
  height: calc(100% - 696px);
  top: 348px;
  bottom: 348px;
  left: calc(50% - 658px);
  border-radius: var(--br-30xl);
  background-color: var(--color-gainsboro);
  width: 596px;
}
.sbox4,
.switch-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-70xl);
  background-color: var(--color-whitesmoke);
}
.sbox4 {
  height: 62.5%;
  width: 37.09%;
  top: 18.75%;
  right: 55.96%;
  bottom: 18.75%;
  left: 6.95%;
  border-radius: var(--br-108xl);
  background-color: var(--color-darkslategray);
  cursor: pointer;
}
.talk5,
.text6 {
  position: absolute;
  top: 31.25%;
  left: 12.25%;
}
.talk5 {
  left: 60.6%;
}
.switch3 {
  align-self: stretch;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
}
.frame,
.text5 {
  overflow: hidden;
}
.frame {
  position: absolute;
  top: 100px;
  left: 569px;
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.text5 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-krona-one);
}
