.talk-inner,
.talk-item {
  position: absolute;
  height: calc(100% + 1514px);
  top: 0;
  bottom: -1514px;
  width: 720px;
}
.talk-item {
  right: 0;
  background-color: var(--color-darkslategray);
}
.talk-inner {
  left: 0;
  background-color: var(--color-cadetblue);
}
.talk-child1 {
  position: absolute;
  height: calc(100% - 861px);
  top: 512px;
  bottom: 349px;
  left: calc(50% - 658px);
  border-radius: var(--br-30xl);
  background-color: var(--color-gainsboro);
  width: 596px;
}
.mic-icon,
.switch-child1 {
  position: absolute;
  top: 290px;
  left: 272px;
  width: 176px;
  height: 177px;
}
.switch-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-70xl);
  background-color: var(--color-whitesmoke);
}
.sbox5 {
  position: absolute;
  top: calc(50% - 25px);
  right: 23px;
  border-radius: var(--br-108xl);
  background-color: var(--color-cadetblue);
  width: 112px;
  height: 50px;
  cursor: pointer;
}
.talk7,
.text7 {
  position: absolute;
  top: 31.25%;
  left: 12.25%;
}
.talk7 {
  left: 60.6%;
}
.switch4 {
  align-self: stretch;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
}
.frame1 {
  position: absolute;
  top: 100px;
  left: 569px;
  width: 302px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.talk6 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-krona-one);
}
